.left-image {
  left: 0;
  width: 32px;
  margin-left: -15px;
  margin-top: -80px;
}
.bottom-right-image {
  width: 110px;
  right: 0;
  bottom: 0;
  margin-bottom: -25px;
  margin-right: -55px;
}
.background {
  @media (min-width: 768px) {
    background-image: url("../../../assets/img/fondo-intro.jpg");
  }
  @media (max-width: 768px) {
    background-image: url("../../../assets/img/fondo-intro-sm.jpg");
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
