<div class="fixed-bottom container p-0">
  <div class="row m-0 bg-light-pink">
    <!-- BOTONES REDES SOCIALES -->
    <div class="col-3 col-md-2 col-lg-1 py-3 align-self-center text-center">
      <button type="button" class="btn btn-lg btn-light my-2 rounded-sm w-100">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-lg btn-light my-2 rounded-sm w-100">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-lg btn-light my-2 rounded-sm w-100">
        <i class="fab fa-instagram"></i>
      </button>
    </div>

    <div class="col-9 col-md-5 py-5">
      <!-- FORM -->
      <form>
        <!-- NOMBRE -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Nombre"
          />
        </div>
        <!-- TELEFONO -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Tel."
          />
        </div>
        <!-- E-MAIL -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="E-mail"
          />
        </div>
        <!-- TEXTAREA -->
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
