<div class="container-fluid p-0">
  <div class="row justify-content-between m-0 bg-light-pink">
    <!-- BOTONES REDES SOCIALES -->
    <div
      class="col-2 col-md-2 col-lg-1 py-2 py-md-4 align-self-center text-center"
    >
      <a
        href="https://www.instagram.com/sms.vinos"
        target="_blank"
        class="square btn btn-lg btn-secondary m-2 rounded-sm"
      >
        <i class="text-white fab fa-instagram"></i>
      </a>
      <a
        href="https://www.facebook.com/SMS-SA-Bodega-y-Viñedos-101081241320657"
        target="_blank"
        class="square btn btn-lg btn-secondary m-2 rounded-sm"
      >
        <i class="text-white fab fa-facebook-f"></i>
      </a>
      <a
        href=" https://goo.gl/maps/s5APGM4E3KLTRsXM8"
        target="_blank"
        class="square btn btn-lg btn-secondary m-2 rounded-sm"
      >
        <i class="text-white fas fa-map-marker"></i>
      </a>
    </div>

    <!-- FORM -->
    <div class="col-10 col-md-5 col-lg-5 align-self-center py-4">
      <form>
        <!-- NOMBRE -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Nombre"
          />
        </div>
        <!-- TELEFONO -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Tel."
          />
        </div>
        <!-- E-MAIL -->
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="E-mail"
          />
        </div>
        <!-- TEXTAREA -->
        <div class="input-group mb-3">
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button class="float-right btn btn-sm btn-primary badge-pill px-5">
          <span class="font-weight-bold">Enviar</span>
        </button>
      </form>
    </div>

    <div
      class="col-12 col-md-4 col-lg-4 align-self-center text-brown text-md-left text-center pb-4 py-md-4"
    >
      <div class="font-weight-bold">
        <p>Bodega:</p>
        <p>Calle 2 de Mayo 8426</p>
        <p>Los Corralitos, Guaymallén, Mendoza</p>
        <br />
        <p>
          Realizamos envíos de nuestros productos a todos <br />
          los puntos de nuestro país
        </p>
        <br />
        <p>
          Consultar horarios para visitas guiadas <br />
          con degustación y eventos
        </p>
        <br />
        <p>Télefonos</p>
        <p>0261 - 4975162 / +54 9 261 554 7868</p>
        <br />
        <p>E-Mail:</p>
        <p>info@smsvinos.com</p>
      </div>
    </div>
  </div>
</div>
