<nav
  [ngClass]="{ solid: solidNavbar }"
  class="fixed-top navbar navbar-expand-md navbar-dark"
  data-spy="affix"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
          INICIO
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/bodega']"
          routerLinkActive="active"
        >
          BODEGA
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/viniedos']"
          routerLinkActive="active"
        >
          VIÑEDOS
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/nuestrosViñedos']"
          routerLinkActive="active"
        >
          NUESTROS VIÑEDOS
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/contacto']"
          routerLinkActive="active"
        >
          CONTACTO
        </a>
      </li>
    </ul>
  </div>
</nav>
