<nav class="navbar navbar-expand-sm navbar-dark bg-brown">
  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"
          >INICIO <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bodega']">BODEGA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/viniedos']">VIÑEDOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/nuestrosViñedos']"
          >NUESTROS VIÑEDOS</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacto']">CONTACTO</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0"></form>
  </div>
</nav>
