<div class="background">
  <br /><br /><br />
  <div class="container pt-5 p-2" [@fadeAnimation]="'in'">
    <div class="row vh-100 justify-content-center">
      <div
        class="col-11 col-md-10 p-0 align-self-center bg-brown rounded shadow-lg"
      >
        <div class="card m-2 bg-brown rounded border">
          <div class="d-flex justify-content-between">
            <img
              class="left-image"
              src="../../../assets/img/zarcillo-uva-2.png"
            />
            <img
              class="top-image"
              src="../../../assets/img/sms-simple-fondo.png"
            />
            <img
              class="right-image"
              src="../../../assets/img/zarcillo-uva-2.png"
            />
          </div>
          <div class="card-body text-white">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
              laudantium molestias adipisci cupiditate quisquam, ipsa totam est
              excepturi consectetur itaque? Dignissimos iste cumque perferendis
              quia quo alias reprehenderit ex saepe. Reprehenderit, dolore
              temporibus vel quae modi sequi quibusdam odio dicta nobis
              doloribus voluptatem culpa, vitae voluptate ullam quia. Molestias
              ipsum nisi assumenda error. Animi recusandae quasi dolores
              voluptatum odit aut consectetur nemo voluptatibus molestias quas.
            </p>
            <div class="text-center">
              <p class="m-0 h5">
                Te contamos nuestra historia
              </p>
              <i class="fas fa-3x fa-chevron-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
