.background {
  @media (min-width: 768px) {
    background-image: url("../../../assets/img/background.jpg");
  }
  @media (max-width: 768px) {
    background-image: url("../../../assets/img/fondo-inicio-2-sm.jpg");
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-image {
  width: 125px;
  margin-left: -10px;
  margin-top: -10px;
}
.right-image {
  transform: scale(-1, 1);
  margin-right: -10px;
  margin-top: -10px;
  width: 125px;
}
.top-image {
  width: 80px;
  margin-top: -40px !important;
}
