<div class="container" [@fadeAnimation]="'in'">
  <div class="row justify-content-center vh-100">
    <div class="col- align-self-cente">
      <div class="card shadow-lg p-3 mb-5 bg-brown rounded" style="vh-100 width: 50rem;">
        <img src=".." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            Te contamos nuestra historia
          </h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
            laudantium molestias adipisci cupiditate quisquam, ipsa totam est
            excepturi consectetur itaque? Dignissimos iste cumque perferendis
            quia quo alias reprehenderit ex saepe. Reprehenderit, dolore
            temporibus vel quae modi sequi quibusdam odio dicta nobis doloribus
            voluptatem culpa, vitae voluptate ullam quia. Molestias ipsum nisi
            assumenda error. Animi recusandae quasi dolores voluptatum odit aut
            consectetur nemo voluptatibus molestias quas, minus assumenda. Saepe
            error optio consequuntur odit earum est iusto excepturi et
            voluptatum doloremque natus dolores corrupti neque pariatur deleniti
            iure, doloribus nihil eum ratione quasi, animi fugiat id mollitia.
            Mollitia et delectus reiciendis illo?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
