<div class="background">
  <br /><br /><br />
  <div class="container p-2" [@fadeAnimation]="'in'">
    <div class="row">
      <div class="col-12 text-white text-center">
        <p class="display-4 font-weight-bold my-4">Bodega "El Mensaje"</p>
        <p class="h2 my-4">Frase aqui (...)</p>
        <button class="btn btn-light px-5 my-4">
          <span class="font-weight-bold">Reservar</span>
        </button>
      </div>
    </div>
    <div class="row mx-0 my-4 h-100 justify-content-center">
      <div class="col-12 col-md-10 p-0 align-self-center">
        <div class="container-fluid p-4 bg-brown rounded-top">
          <div class="row m-0 text-white">
            <div class="col-12 col-md-7 p-0 bg-white rounded-left text-dark">
              <div class="p-3 d-flex h-100">
                <p class="m-3 align-self-center">
                  Invitamos a compartir una agradable experiencia <br />
                  recorriendo nuestra bodega. <br />
                  Catar nuestros vinos y disfrutar del buen sabor de <br />
                  nuestra cocina. <br />
                  Sumérgete en este apasionante mundo del que no <br />
                  querrás salir.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-5 p-0">
              <img
                src="./../../../assets/img/fondo-inicio-2-sm.jpg"
                class="w-100 h-100 rounded-right"
              />
            </div>
          </div>
        </div>
        <div class="container-fluid p-4 bg-brown rounded-bottom">
          <div class="row m-0 text-white">
            <div class="col-12 col-md-5 p-0">
              <img
                src="./../../../assets/img/fondo-bodega-3-sm.jpg"
                class="w-100 h-100 rounded-left"
              />
            </div>
            <div class="col-12 col-md-7 p-0 bg-white rounded-right text-dark">
              <div class="p-3 d-flex h-100">
                <p class="m-3 h4">
                  Reservar
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
