<div class="background">
  <br /><br /><br />
  <div class="container" [@fadeAnimation]="'in'">
    <div class="row justify-content-center">
      <div class="col- align-self-cente">
        <div class="card mb-3 mt-5" style="max-width: 50rem;">
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="col-md-7"></div>
              <div class="card-body">
                <h5 class="card-title">Viñedos</h5>
                <ul class="list-group-item">
                  <li value="1"></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                  nemo deserunt praesentium a nostrum eligendi impedit fugit,
                  voluptatibus consequuntur, molestiae consectetur. Quod dolores
                  necessitatibus repudiandae! Ipsum consequuntur ab, commodi
                  iusto provident illo porro nisi, animi incidunt quibusdam
                  voluptatibus soluta odit. Id distinctio quisquam modi labore,
                  sapiente assumenda voluptates mollitia sint?
                </p>
              </div>
            </div>
            <div class="col-md">
              <img
                src="./../../../assets/img/maxresdefault.jpg"
                class="card-img"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
