<div class="background">
  <br /><br /><br />
  <div class="container py-2" [@fadeAnimation]="'in'">
    <div class="container p-2" [@fadeAnimation]="'in'">
      <div class="row mx-0 my-4 h-100 justify-content-center">
        <div class="col-12 col-md-10 p-0 align-self-center">
          <div class="container-fluid p-4 bg-brown rounded-top">
            <div class="row m-0 text-white">
              <div class="col-12 col-md-7 p-0 bg-white rounded-left text-dark">
                <div class="p-3 d-flex h-100">
                  <p class="m-3 align-self-center"></p>
                  <p>
                    <b>
                      Línea de vinos
                    </b>
                    <br />
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci, nemo incidunt, quidem distinctio eveniet minima
                    assumenda pariatur sint, laborum repellendus labore eum
                    placeat mollitia saepe vel dignissimos quas aperiam
                    aspernatur! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Earum, veritatis corporis quasi
                    exercitationem perspiciatis impedit totam laudantium
                    excepturi optio eos alias velit animi sint eius pariatur nam
                    voluptate, perferendis illo?
                  </p>
                </div>
              </div>
              <div class="col-12 col-md-5 p-0">
                <img
                  src="./../../../assets/img/fondo-vinos-2.jpg"
                  class="w-100 h-100 rounded-right"
                />
              </div>
            </div>
          </div>
          <div #formReserva class="container-fluid p-4 bg-brown rounded-bottom">
            <hr style="color: #000000;" />
            <div class="row m-0 text-white">
              <div class="col-12"></div>
              <div class="col-5  p-0">
                <img
                  src="./../../../assets/img/produccion-vino.jpg"
                  class="w-100 h-100 rounded"
                />
              </div>
              <div class="col-5 col-md-6 offset-md-1 p-0">
                <div class="container-fluid p-4 bg-dark rounded">
                  <p class="text-center text-white">
                    <b>
                      Espumantes 
                    </b>
                    <img
                      src="./../../../assets/img/smsvinos.jpg"
                      class="w-100 h-100 rounded"
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
