<div class="background">
  <br /><br /><br />
  <div class="container py-3" [@fadeAnimation]="'in'">
    <div class="row my-3 justify-content-center">
      <div class="col-8 align-self-center">
        <div class="card w-100">
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Viñedos</h5>
                <ul class="list-group-item">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                  nemo deserunt praesentium a nostrum eligendi impedit fugit,
                  voluptatibus consequuntur, molestiae consectetur. Quod dolores
                  necessitatibus repudiandae! Ipsum consequuntur ab, commodi
                  iusto provident illo porro nisi, animi incidunt quibusdam
                  voluptatibus soluta odit. Id distinctio quisquam modi labore,
                  sapiente assumenda voluptates mollitia sint?
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <img
                src="./../../../assets/img/maxresdefault.jpg"
                class="card-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3 justify-content-center">
      <div class="col-lg-3">
        <img src="./../../../assets/img/maxresdefault.jpg" class="card-img" />
      </div>
      <div class="col-md-5">
        <img src="./../../../assets/img/maxresdefault.jpg" class="card-img" />
      </div>
    </div>
    <div class="row my-3 justify-content-center">
      <div class="col-md-8">
        <img src="./../../../assets/img/maxresdefault.jpg" class="card-img" />
      </div>
    </div>
  </div>
</div>
