@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "secondary": #ccc8bd
);

@import "../node_modules/bootstrap/scss/bootstrap";

.rounded {
  border-radius: 0.75rem !important;
}
.bg-brown {
  background-color: #b4a68b !important;
}
.bg-brown-dark {
  background-color: #565046 !important;
}
.bg-light-pink {
  background-color: #ede8db;
}
.square {
  width: 50px !important;
}
.blur {
  filter: blur(2px);
}
