@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary": #9e9176,
  "secondary": #ccc8bd
);

@import "../node_modules/bootstrap/scss/bootstrap";

p {
  margin: 0;
}

.rounded {
  border-radius: 0.75rem !important;
}
.rounded-right {
  border-top-right-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}
.rounded-left {
  border-top-left-radius: 0.75rem !important;
  border-bottom-left-radius: 0.75rem !important;
}
.rounded-top {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}
.rounded-bottom {
  border-bottom-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}
.bg-brown {
  background-color: #b4a68b !important;
}
.bg-brown-dark {
  background-color: #565046 !important;
}
.bg-light-pink {
  background-color: #ede8db;
}
.square {
  width: 50px !important;
}
.blur {
  filter: blur(2px);
}
.text-brown {
  color: #534e42;
}
