@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "light": #ccc8bd
);

@import "../node_modules/bootstrap/scss/bootstrap";

footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.rounded {
  border-radius: 1.25rem !important;
}
.bg-brown {
  background-color: #9e9176 !important;
}
.bg-brown-dark {
  background-color: #565046 !important;
}

.square {
  width: 50px !important;
}
